@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.MemorizeCards {
    max-width: 860px;
    margin: 40px auto;
    height: 100vh;
}

div {
    font-family: 'Nanum Gothic', sans-serif;
    margin : 0;
    font-size: 1.5rem;
    text-align: center;
    background-color: #1b1523;
    color : #fff
}

button {
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: lightgrey;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: #c23866;
    color: #fff
}
